
*{padding:0;margin:0;
    font-family: 'Inter', sans-serif;}
    
    #div-sul{display: flex;
    flex-direction: column;}
    
    /*    MENU    */
    
    #menu-sul{background-color: #8CDDFF;}
    .--menu{display: flex;
    list-style: none;
    flex-flow: row wrap;
    padding: 30px;
    justify-content: space-between;}
    
    #titulo{margin-right: auto;
    font-weight: bold;}
    
    #sobreProjeto{margin-left: auto;}
    
    .menu-li{margin: 0 20px 0 20px;}
    .a--menu{color: black;
    text-decoration: none;}
    .menu-li:nth-child(2){font-weight: bold;}
    .a--menu:hover{opacity: 60%;}
    
    /*    HEADER    */
    
    #header-sul{display:flex;
    flex-flow: row wrap;
    background-color: #8CDDFF;
    justify-content: space-between;
    padding: 50px;
    align-items: center;}
    
    .button-voltar{text-decoration:none;
    color: black;}
    .imgLink{width:8px;
    padding-right: 10px;}
        
    .button-voltar:hover{text-decoration: underline;}
    
    #div-titulo{margin: auto;}
    #div-mapa-sul{margin: auto;}
    
    .head-titulo{margin-bottom: 20px;
    margin-top: 20px; font-size:60px;}
    
    /*    MAIN    */
    
    #main-sul{display: flex;
    flex-flow: row wrap;
    padding: 50px;
    justify-content: center;}
    
    /*TABELA*/
    
    td{padding: 30px;}
    
    .tbl-tituloFilme{font-weight: bold;}
    .tbl-link{text-decoration: none; color: black;}
    .tbl-link:hover{border-bottom: 2px solid black;}
    
    /*SEPARAÇÃO*/
    
    #hr{border-top: 1px solid rgba(0, 0, 0, 0.166); margin-top: 70px; padding-left: 600px;}
    
    /*    ARTICLE      */
    
   
   
    #article-sul{display: flex;
    flex-flow: row wrap;}
    
    .artigoTitulo{text-align: center;
    text-transform: uppercase; font-size: 15px;
    margin-top: 20px; margin-bottom: 30px;
    letter-spacing: 2px;}
    
    #div-article{display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px; margin-bottom: 50px;}
    
    .div-artigoAutor{width:auto;
    margin-right: 30px;}
    .img-artigoAutor{ width: 50px;
    }
    .div-artigoTexto{width: 447px;}
    
    .div-artigoAutor{font-size: 12px;}
    
    .h1-artigoTitulo{
    /*text-shadow: 3px 1px 0px #24F27B;*/
    text-decoration-line: underline;text-decoration-thickness: 10px;
    text-decoration-color: #8CDDFF;
    font-size: 30px;}
    
    .h4-artigoLegenda{font-size: 14px;
    font-weight: bold; font-style: italic;
    margin-top: 20px;}
    .div-artigoTexto{margin-top: 70px;
    font-size: 14px;}
    
    /*  FOOTER   */
    
    #footer-sul{padding: 20px;
    background-color: #F2F2F2; color: #3d3d3d;}