* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/*   MENU   */

.--menu {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    padding: 30px;
    justify-content: space-between;
}

#titulo {
    margin-right: auto;
    font-weight: bold;
}

#sobreProjeto {
    margin-left: auto;
}

.menu--li {
    margin: 0 20px 0 20px;
}

.a--menu {
    color: black;
    text-decoration: none;
}

.a--menu:hover {
    text-decoration: underline;
}


/*    HEADER    */

#header--index {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.div--titulo {
    height: auto;
    width: 40%;
    padding: 60px;
}

.h1--headerTitulo {
    font-size: 48px;
}

.p--headerTitulo {
    font-size: 14px;
    margin-bottom: 30%;
    margin-top: 30px;
}

.p--headerSorte {
    font-size: 14px;
}

.buttonHeader {
    border: 2px solid black;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    transition: all 1s;
}

.buttonHeader:hover {
    background-color: rgba(0, 0, 0, 0.223);
}

/*MAPA*/

.div--imgMapa {
    margin-right: auto;
    margin-bottom: 100vh;
    padding-top: 10px;
}

.imgPrincipal {
    position: relative;
}

.mapa {
    position: absolute;
    margin: auto;
    max-width: 100vw;
}

.imgSudeste {
    margin-top: 365px;
    margin-left: 373px;
}

.imgSul {
    margin-top: 518px;
    margin-left: 302px;
}

.imgcentroOeste {
    margin-top: 237px;
    margin-left: 222px;
}

.imgNordeste {
    margin-top: 123px;
    margin-left: 450px;
}

.mapaHover {
    opacity: 0;
}

.mapaHover:hover {
    opacity: 100%;
}

/*  NEWSLETTER   */

#newsletter {
    padding: 50px;
    font-size: 14px;
}

#newsletter input {
    border-radius: 0px;
}

#newsletter button {
    border: 2px solid black;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
}

#newsletter button:hover {
    background-color: rgba(0, 0, 0, 0.223);
}

/*  FOOTER   */

#footer--norte {
    padding: 20px;
    background-color: #F2F2F2;
    color: #3d3d3d;
}

;