* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#div-sudeste {
    display: flex;
    flex-direction: column;
}

/*---------------------------------MENU---------------------------------*/

.menu-sudeste {
    background-color: #FACAFF;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-flow: row wrap;
    padding: 30px;
    }

#titulo {
    margin-right: auto;
    font-weight: bold;
}

.sobre-projeto {
    margin-left: auto;
}

.menu-li {
    margin: 0 20px 0 20px;
}

.a-menu {
    color: black;
    text-decoration: none;
}

.menu-li:nth-child(5) {
    font-weight: bold;
}

.a-menu:hover {
    text-decoration: underline;
}

/*---------------------------------HEADER---------------------------------*/

#header-sudeste {
    display: flex;
    flex-flow: row wrap;
    background-color: #FACAFF;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.div-titulo {
    margin: auto;
    margin-left: 100px;
}

.div-imgFilme {
    margin: auto;
}

.aVoltar {
    text-decoration: none;
    color: black;
}

.imgLink {
    width: 8px;
    padding-right: 10px;
}

.aVoltar:hover {
    text-decoration: underline;
}

.pSudeste {
    font-size: 14px;
    margin-top: 20px;
}

.h1Titulo {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 50px;
    width: 800px;
}

.pPremios {
    font-size: 14px;
    border: thin solid black;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
}

.ul-Filme {
    list-style: none;
}

.li-Filme {
    display: inline-block;
    padding-right: 100px;
    margin-top: 100px;
    font-size: 14px;
    margin-bottom: 0;
}

.imgFilme {
    width: 650px;
    height: auto;
    position: fixed;
    bottom: 5%;
    right: 0;
}

iframe {
    margin-bottom: 50px;
}

/*---------------------------------MAIN---------------------------------*/

.section-filmeTexto {
    width: 40%;
    margin-left: 150px;
    margin-top: 50px;
}

.p-filmeTexto,
.p-filmeDirecao {
    font-size: 14.5px;
}

.p-filmeTexto {
    margin-bottom: 40px;
}

.p-filmeDirecao {
    margin-bottom: 20px;
}

.creditos {
    margin-top: 20px;
}

.cinema {
    font-weight: bold;
}

.aCinema {
    color: black;
    text-decoration: none;
}

.aCinema:hover {
    text-decoration: underline;
}

.imgIcone {
    margin-bottom: 20px;
}

hr {
    width: 80%;
    opacity: 50%;
}

/*---------------------------------FOOTER---------------------------------*/

#footerSudeste {
    padding: 20px;
    background-color: #F2F2F2;
    color: #3d3d3d;
}