* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif;
}

/*-------------------------MENU---------------------------- */

#nav-menu {
    background-color: rgb(255, 172, 84);
}

.nordeste {
    font-weight: bold;
}

#titulo {
    margin-right: auto;
    font-weight: bold;
}

#ul-menu {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    padding: 30px;
    justify-content: space-between;
}

.li-menu {
    margin: 0px 20px 0px 20px;
}

.li-menu:hover {
    opacity: 60%;
}

.a-menu:visited {
    color: black;
}

#sobreProjeto {
    margin-left: auto;
}

/*-------------------------HEADER-NORDESTE---------------------------- */

#header-nordeste {
    background-color: rgb(255, 172, 84);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

#nordeste {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

}

#voltar-button {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(255, 172, 84);
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#icon-voltar {
    padding: 7px 7px 0px 0px;
}

#div-img-nordeste {
    margin-left: 50px;
}

#img-nordeste {
    height: 250px;
    display: flex;
    justify-content: center;
}

/*-------------------------FILMES-NORDESTE---------------------------- */