

*{padding:0;margin:0;
font-family: 'Inter', sans-serif;}

#div--norte{display: flex;
flex-direction: column;}

/*    MENU    */

#menu--norte{background-color: #24F27B;}
.--menu{display: flex;
list-style: none;
flex-flow: row wrap;
padding: 30px;
justify-content: space-between;}

#titulo{margin-right: auto;
font-weight: bold;}

#sobreProjeto{margin-left: auto;}

.menu--li{margin: 0 20px 0 20px;}
.a--menu{color: black;
text-decoration: none;}
.menu--li:nth-child(2){font-weight: bold;}
.a--menu:hover{
    text-decoration:underline;
}

/*    HEADER    */

#header--norte{display:flex;
flex-flow: row wrap;
background-color: #24F27B;
justify-content: space-between;
padding: 50px;
align-items: center;}

.aVoltar{text-decoration:none;
color: black;}
.imgLink{width:8px;
padding-right: 10px;}
    
.aVoltar:hover{text-decoration: underline;}

#div--titulo{margin: auto;}
#div--img-norte{margin: auto;}

.head--titulo{margin-bottom: 20px;
margin-top: 20px; font-size:60px;}

/*    MAIN    */

#main--norte{display: flex;
flex-flow: row wrap;
padding: 50px;
justify-content: center;}

/*TABELA*/

td{padding: 30px;}

.tb--tituloFilme{font-weight: bold;}
.tbl--link{text-decoration: none; color: black;}
.tbl--link:hover{border-bottom: 2px solid black;}

/*SEPARAÇÃO*/

#hr{border-top: 1px solid rgba(0, 0, 0, 0.166); margin-top: 70px; padding-left: 600px;}

/*    ARTICLE      */

#article-artigo{display: flex;
flex-flow: row wrap;}

.p--artigoTitulo{text-align: center;
text-transform: uppercase; font-size: 15px;
margin-top: 20px; margin-bottom: 30px;
letter-spacing: 2px;}

#div--artigo{display: flex;
flex-flow: row wrap;
justify-content: center;
margin-top: 50px; margin-bottom: 50px;}

.div--artigoAutor{width:auto;
margin-right: 30px;}
.div--artigoTexto{width: 447px;}

.p--artigoAutor{font-size: 12px;}

.h1--artigoTitulo{
/*text-shadow: 3px 1px 0px #24F27B;*/
text-decoration-line: underline;text-decoration-thickness: 10px;
text-decoration-color: #24F27B;
font-size: 30px;}

.h4--artigoLegenda{font-size: 14px;
font-weight: bold; font-style: italic;
margin-top: 20px;}
.p--artigoTexto{margin-top: 70px;
font-size: 14px;}

/*  FOOTER   */

#footer--norte{padding: 20px;
background-color: #F2F2F2; color: #3d3d3d;}
